<div class="container theme-showcase" role="main">
<br><br>
  <!-- banner -->
    <div class="row top-courses">
      <div class="row" id="top-banner" >
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img ng-Src="{{recentImage}}" width="125%" >
        </div>
        <div class="col-md-9 col-sm-8 col-xs-9 m-l-xl" >
          <br>
          <p><h3 class="m-b"><b>{{courseInfo.courseName}}</b></h3></p>
          <p>{{courseInfo.courseSummary}}</p><br>
        </div>
          <div class="row">
            <div class="col-md-10 col-sm-6 col-xs-12">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12" >
              <button type="button" class="btn btn-md top-button" ng-click="requestSubject(courseInfo.id, courseInfo.professorId, courseInfo.courseName, professorName)"> 수강신청 </button>
            </div>
          </div>

      </div>
    </div>
 <!-- ./banner -->


























    <div id="demo" class="collapse">
      <div class="row info-table">
        <div class="container" id="course-info-table">

          <div class="col-md-offset-2 col-md-4 m-t-sm">
            <ul>
              <li>모집기간 &nbsp;:&nbsp;  {{courseInfo.recruitmentPeriod}}</li>
              <li>수강기간 &nbsp;:&nbsp;  {{courseInfo.durationOfTheCourse}}</li>
              <li>강사 &nbsp;:&nbsp;  {{professorName}}</li>
              <li>강의시간 &nbsp;:&nbsp;  {{courseInfo.lectureTime}}</li>
              <li>고용보험 &nbsp;:&nbsp;  {{courseInfo.unemploymentInsurance}}</li>
              <li>지원형태 &nbsp;:&nbsp;   {{courseInfo.formOfSupport}}</li>
              <li>환급금  &nbsp;:&nbsp;   {{courseInfo.refund}}</li>
            </ul>
          </div><!-- ./col-md-4-->
          <div class="col-md-4 m-t-sm">
            <ul>
              <li>위탁교육서 제출기한 &nbsp;:&nbsp;   {{courseInfo.deadlineForConsignmentEducationDoc}}</li>
              <li>학습정원&nbsp;:&nbsp; {{courseInfo.numberOfStudent}}명</li>
              <li>전체 학습 유닛수&nbsp;:&nbsp; {{courseInfo.numberOfUnit}}개</li>
              <li>교재명&nbsp;:&nbsp;  {{courseInfo.bookName}}</li>
              <li>수강신청 금액&nbsp;:&nbsp; {{courseInfo.price}}</li>
            </ul>
          </div><!-- ./col-md-4-->
        </div><!-- ./container-->
      </div><!-- ./ row-->
    </div>
  <br>


  <br><br>

  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <div class="m-t-xxl">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a data-toggle="tab" href="" data-target="#overview">Overview</a></li>
          <li><a data-toggle="tab" href="" data-target="#content">Content</a></li>
        </ul>
      </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="overview">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse1" >과정소개<span style="float:right"class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">{{courseInfo.introductionOfCourse}}</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse2">학습목표<span style="float:right" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">{{courseInfo.goalOfLearning}}</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse3">학습내용<span style="float:right" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">{{courseInfo.courseSummary}}</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse4">학습대상<span style="float:right" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">{{courseInfo.targetOfLearning}}</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse5">학습내용<span style="float:right" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">{{courseInfo.mannerOfLearning}}</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse6">평가방법<span style="float:right" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">{{courseInfo.evaluationMethod}}</div>
                </div>
              </div>

            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="content">
            <div class="panel-group">
              <div class="panel panel-default" ng-repeat="UnitInfo in courseInfo.myContentsInCourse">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#unit{{$index+1}}" >UNIT{{$index+1}}<span style="float:right"class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="unit{{$index+1}}" class="panel-collapse collapse">
                  <div class="panel-body">{{UnitInfo.UnitName}}: </b> <br><br>{{UnitInfo.UnitSummary}}</div>
                </div>
              </div>


        </div><!-- ./card-->
    </div><!-- ./col-md-12 -->
  </div><!-- row-->




  <br><br><br>
  <center><h2>다른 강사 정보</h2></center><hr>
  <div class="row">
    <div class="col-md-4" ng-repeat="professor in otherProfessors">
      <div class="testimonials-card">
        <div class="testimonials-header">
          <a href="" ng-click="otherProfessorInfo(professor.courseId, professor.professorId)">
            <img class="avatar avatar-sm img-responsive" ng-src="images/professorImages/{{professor.name}}.jpg">
          </a>
          <br>
          <div class="other-professoe-info">{{professor.name}}교수</div>
          <div class="other-professoe-info">수강인원 : </b>{{professor.numberOfStudent}} 명</div>
        </div>
      </div>

    </div>
  </div>


</div> <!-- /container -->
