<div class="container theme-showcase" role="main">

  <center>
    <img ng-src="{{recentImage}}" width="300">
  </center>
  <br>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron alert alert-success">
    <!--
        코스 소개 및 코스 로고
    -->
    <center>
      <h2>{{courseInfo.courseName}}</h2>
    </center>
    <p>{{courseInfo.courseSummary}}</p>

  </div>
  <br><br>
  <div class="panel panel-default">

    <table class="table" border="1">
      <thead>
      <tr>
        <th>강사</th>
        <th>{{professorName}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">모집기간</th>
        <td>{{courseInfo.recruitmentPeriod}}</td>
      </tr>
      <tr>
        <th scope="row">수강기간</th>
        <td>{{courseInfo.durationOfTheCourse}}</td>
      </tr>
      <tr>
        <th scope="row">고용보험</th>
        <td>{{courseInfo.unemploymentInsurance}}</td>
      </tr>
      <tr>
        <th scope="row">지원형태</th>
        <td>{{courseInfo.formOfSupport}}</td>
      </tr>
      <tr>
        <th scope="row">환급금</th>
        <td>{{courseInfo.refund}}</td>
      </tr>
      <tr>
        <th scope="row">위탁교육서 제출기한</th>
        <td>{{courseInfo.deadlineForConsignmentEducationDoc}}</td>
      </tr>
      <tr>
        <th scope="row">학습정원</th>
        <td>{{courseInfo.numberOfStudent}}명</td>
      </tr>
      <tr>
        <th scope="row">전체 학습 유닛수</th>
        <td>{{courseInfo.numberOfUnit}}개</td>
      </tr>
      <tr>
        <th scope="row">교재명</th>
        <td>{{courseInfo.bookName}}</td>
      </tr>
      <tr>
        <th scope="row">수강신청 금액</th>
        <td>{{courseInfo.price}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>

  <center>
    <h3>나의 현재 코스 진행</h3>
  </center>
  <uib-progressbar class="progress-striped" value="studentInfo.numberOfCompletedContentsInCourse/studentInfo.numberOfTotalContentsInCourse*100">{{studentInfo.numberOfCompletedContentsInCourse/studentInfo.numberOfTotalContentsInCourse*100|number:1}}% complete</uib-progressbar>

  <center>
    <button type="button" class="btn btn-lg btn-warning" ng-click="unitDoing(ResultOfUnitInCourses.UnitName, ResultOfUnitInCourses.NumberOfQuestionsForExam, ResultOfUnitInCourses.NumberOfQuestionsForAssignment, ResultOfUnitInCourses.UnitNumber, ResultOfUnitInCourses.CourseOfMemberId, ResultOfUnitInCourses.UnitId, ResultOfUnitInCourses.DoingContentNumberInUnit)">Course Start</button>
  </center>
  <br><br>


  <ng-include src="'./courses/courseManagement/include_subMenuBar.html'"></ng-include>
  <ng-include src="'./courses/courseManagement/include_boardMenuBar.html'"></ng-include>

  <br><br>
  <div class="row show-grid" ng-repeat="UnitInfo in courseInfo.myContentsInCourse">

    <div class="col-md-4"><center><h1>UNIT {{$index+1}}</h1> <br> </center></div>
    <div class="col-md-4">
      <b>{{UnitInfo.UnitName}}: </b> <br>
      {{UnitInfo.UnitSummary}} <br><br>

      <center>
        <button type="button" class="btn btn-md btn-default" ng-click="goExamOrAssignment('exam', UnitInfo.id, UnitInfo.UnitNumber,studentInfo.myContentInfoInCourse[$index].id)" ng-disabled="!studentInfo.myContentInfoInCourse[$index].Completed" ng-show="UnitInfo.RequireExam" >시험보기</button>&nbsp;
        <button type="button" class="btn btn-md btn-default" ng-click="goExamOrAssignment('assignment', UnitInfo.id, UnitInfo.UnitNumber,studentInfo.myContentInfoInCourse[$index].id)" ng-disabled="!studentInfo.myContentInfoInCourse[$index].Completed" ng-show="UnitInfo.RequireAssignment" >과제제출</button>
      </center>
      <br><br>
    </div>
    <div class="col-md-4">
      <center>
        <!--<button type="button" class="btn btn-lg btn-success" ng-disabled="!goingCourseFunction($index, studentInfo.myContentInfoInCourse)" ng-show="!studentInfo.myContentInfoInCourse[$index].Completed" ng-click="unitDoing(UnitInfo.UnitName, UnitInfo.NumberOfQuestionsForExam, UnitInfo.NumberOfQuestionsForAssignment, UnitInfo.UnitNumber, studentInfo.id, UnitInfo.id)">참여</button>
        <button type="button" class="btn btn-lg btn-danger"  ng-show="studentInfo.myContentInfoInCourse[$index].Completed" ng-click="compltedUnitDoing(UnitInfo.UnitName, UnitInfo.NumberOfQuestionsForExam, UnitInfo.NumberOfQuestionsForAssignment, UnitInfo.UnitNumber, studentInfo.id, UnitInfo.id)">완료</button>-->

        <button type="button" class="btn btn-lg btn-success" ng-click="unitDoing(UnitInfo.UnitName, UnitInfo.NumberOfQuestionsForExam, UnitInfo.NumberOfQuestionsForAssignment, UnitInfo.UnitNumber, studentInfo.id, UnitInfo.id)">참여</button>
        <button type="button" class="btn btn-lg btn-danger"  ng-click="compltedUnitDoing(UnitInfo.UnitName, UnitInfo.NumberOfQuestionsForExam, UnitInfo.NumberOfQuestionsForAssignment, UnitInfo.UnitNumber, studentInfo.id, UnitInfo.id)">완료</button>

      </center>
    </div>
  </div>
  <br>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="" data-target="#home">과정소개</a></li>
    <li><a data-toggle="tab" href="" data-target="#menu1">학습목표</a></li>
    <li><a data-toggle="tab" href="" data-target="#menu2">학습내용</a></li>
    <li><a data-toggle="tab" href="" data-target="#menu3">학습대상</a></li>
    <li><a data-toggle="tab" href="" data-target="#menu4">학습방법</a></li>
    <li><a data-toggle="tab" href="" data-target="#menu5">평가방법</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>과정소개</h3>
      <p>{{courseInfo.introductionOfCourse}}</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>학습목표</h3>
      <p>{{courseInfo.goalOfLearning}}</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>학습내용</h3>
      <p>{{courseInfo.courseSummary}}</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>학습대상</h3>
      <p>{{courseInfo.targetOfLearning}}</p>
    </div>
    <div id="menu4" class="tab-pane fade">
      <h3>학습방법</h3>
      <p>{{courseInfo.mannerOfLearning}}</p>
    </div>
    <div id="menu5" class="tab-pane fade">
      <h3>평가방법</h3>
      <p>{{courseInfo.evaluationMethod}}</p>
    </div>

  </div>



  <br>
  <div class="page-header">
    <center><h2>다른 강사 정보</h2></center>
  </div>
  <div class="row">
    <div class="col-sm-3" ng-repeat="professor in otherProfessors">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><b>담당교수:</b> {{professor.name}}</h2>
          <center>
            <a href="" ng-click="otherProfessorInfo(professor.courseId, professor.professorId)">
              <img ng-src="images/professorImages/{{professor.name}}.jpg" width="200" height="200">
            </a>
          </center>
        </div>
        <div class="panel-body">
          수강인원 : {{professor.numberOfStudent}} 명
        </div>
      </div>
    </div><!-- /.col-sm-4 -->
  </div>

</div> <!-- /container -->
